<%= render @post, locals: {show_comments: false} %>

<h1 class="row align-items-center justify-content-center m-5">Comment</h1>

<div class="card h-100">
  <%= form_with model: @comment, url: post_comments_path(@post) do |form| %>
    <div class="card-header">
      Comment
    </div>
    <div class="card-body">
      <%= form.text_area :text, class: "form-control", rows: "15" %>
    </div>
    <div class="card-footer">
      <%= form.submit "Comment", class: "btn btn-primary" %>
    </div>
  <% end %>
</div>
