<h1 class="text-center m-5">Users</h1>

<div class="col d-flex">
  <%= link_to "Create Post", new_post_path, class: "ms-auto btn btn-primary" %>
</div>

<% if !@users.empty? %>
  <ul class="col">
    <%= render @users %>
  </ul>
<% else %>
  <p class="text-center m-5">There are no users yet</p>
<% end %>
